section.highlights {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

section.highlights:hover {
    background-color: #d9d9d9;
}

section.highlights h3 {
    margin-top: 0;
    animation: fadeIn 1s ease-in-out;
}

section.highlights ul {
    list-style: none;
    padding: 0;
}

section.highlights li {
    margin-bottom: 10px;
}

.instagram-reels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the reels horizontally */
    gap: 10px; /* Reduce the gap between reels */
    margin-top: 20px;
}

.reel {
    flex: 1 1 calc(33.333% - 20px); /* Adjust width to fit 3 reels per row with reduced gap */
    max-width: 540px; /* Ensure the reels don't exceed their maximum width */
    box-sizing: border-box;
    margin: 10px; /* Add margin to ensure proper spacing */
    transition: transform 0.3s ease-in-out;
}

.reel:hover {
    transform: scale(1.05);
}

.reel h4 {
    text-align: center;
    margin-top: 10px;
    transition: color 0.3s ease-in-out;
}

.reel h4:hover {
    color: #007bff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}